:8080 {
    # Path root ke public/ directory Laravel
    root * /app/public
    
    # Menangani file statis dan menangkap permintaan yang perlu diarahkan ke PHP
    try_files {path} /index.php?{query}
    
    # Meneruskan permintaan PHP ke PHP-FPM
    # Pastikan socket ini sesuai dengan image base FPM Anda
    php_fastcgi 127.0.0.1:9000

    # Mengaktifkan file server untuk aset
    file_server
}