version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
      target: php
    volumes:
      - .:/var/www/html

  nginx:
    build:
      context: .
      dockerfile: Dockerfile
      target: app
    ports:
      - "3000:80"
    depends_on:
      - php
